body {
    font-size: 2rem;
    background-color: black;
}

.calculatorContainer {
    background-color: black;
    grid-template-rows: .5fr 1fr;
    display: grid;
    padding: 2rem;
    width: 10rem;
    height: 40rem;
}

.calculatorItemsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    background-color: #000000;
    padding: 10px;
}

.calculatorItemsContainer > div {
    border-radius: 50%;
    padding: 1rem;
    text-align: center;
}

#numberDisplay {
    color: white; 
    font-size: 5rem;
}

.light-gray {
    background-color:#9F9F9F;
}

.dark-gray {
    background-color: #303030;
    color: white;
}

.orange {
    background-color: orange;
    color: white;
}

#zero {
    grid-column: span 2;
}

.numberDisplayContainer {
    display: grid;
    align-items: end;
    justify-items: end;
    padding-right: 2.5rem;
}